{% extends 'layout.html' %}

{% from '_formhelpers.html' import render_field %}

{% block content %}

<div class="container">
    <h1 >This is Register page</h1>

    <form action="" method="POST">
        {{ form.csrf_token }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}


        <button type="submit">Create</button>

    </form>
    <br>
</div>
{% endblock %}